import React, {FC} from 'react';
import styles from "./{{properCase name}}.module.scss"

const {{pascalCase name}}: FC = () => {
  return (
    <div className={ styles.{{camelCase name}}Wrapper }>
      <h2>{{pascalCase name}} component</h2>
    </div>
  );
};

export { {{pascalCase name}} };
